body {
  font-family: "Helvetica", sans-serif;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.5;
  padding: 3em 1em;
  color: #333;
}

h1,
h2,
strong {
  color: #222222;
}


div.mg-tile {
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 1px black solid;

  display: flex;
  justify-content: center;
  align-items: center;
  
  float: left;
  background-size: cover;
  
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;

  word-break: break-all;
  overflow-wrap: break-word;
}

div.mg-tile.done {
  /* border: none !important; */
  border-color: green;
  box-shadow: none !important;
  cursor: initial;
}

div.mg-tile:hover {
  box-shadow: 0 0 10px #666;
}

div.mg-tile.notyet {
  background-image: none !important;
  font-size: 0px;
}

div.mg-container {
  overflow: hidden;
}